class SigningScreen extends StatefulWidget {
 static const String route='SigningScreen/';
 const SigningScreen({Key? key}) : super(key: key);
 @override
 State<SigningScreen> createState() => _SigningScreenState();}
class _SigningScreenState extends State<SigningScreen> {
 bool login=true;
 @override
 Widget build(BuildContext context) {
 double height=MediaQuery.of(context).size.height;
 double width=MediaQuery.of(context).size.width;
 if(MediaQuery.of(context).orientation==Orientation.landscape){
 height=MediaQuery.of(context).size.width;
 width=MediaQuery.of(context).size.height; }
 return SafeArea(
 child: Scaffold(
 body: Stack(
 children: [
 const Positioned(
 right: 0,left: 0,bottom: 0,top: 0,
 child: SizedBox()),
 Positioned(
 right: 0,left: 0,top: 0,
 child: Container(
 height: height*.35,
 color: Colors.deepOrangeAccent,
 padding: EdgeInsets.symmetric(horizontal: height*.02),
 child: Column(
 mainAxisAlignment: MainAxisAlignment.start,
 crossAxisAlignment: CrossAxisAlignment.start,
 children: [
 SizedBox(height: height*.05),
 Text('${getLang(context, "welcome")}',style: TextStyle(color: Colors.white,fontSize: 
height*.038),),
 SizedBox(height: height*.015),
 Text('${getLang(context, "please login")}',style: TextStyle(color: 
Colors.white,fontSize: height*.018,fontWeight: FontWeight.w500),),],),),),
 Positioned(
 right: 0,top: 0,bottom: 0,left: 0,
 child: ListView(
 children: [
 SizedBox(height: height*.2),
